<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserGameBiodata List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <h2>Biodata List</h2>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Date of Birth</th>
                  <th scope="col">Sex</th>
                  <th scope="col">Game ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Password</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
            <% userGameBiodata.forEach((biodata) => { %>
              <tr>
                  <th scope="row"><%= biodata.id %></th>
                  <td><%= biodata.full_name %></td>
                  <td><%= biodata.date_of_birth.toISOString().split('T')[0] %></td>
                  <td><%= biodata.sex %></td>
                  <td><%= biodata.game_id %></td>
                  <% if (biodata.UserGame) { %>
                      <td><%= biodata.UserGame.username %></td>
                      <td><%= biodata.UserGame.password %></td>
                  <% } else { %>
                      <td>N/A</td>
                      <td>N/A</td>
                  <% } %>
                  <td>
                      <a href="/usergame/biodata/update/<%= biodata.id %>" class="btn btn-primary">Update</a>
                  </td>
                  <td>
                    <form action="/usergame/biodata/delete/<%= biodata.id %>" method="POST">
                      <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this biodata?');">
                          <img src="/images/trashcan.svg" style="filter: brightness(1.6);">
                      </button>
                  </form>
                  </td>
              </tr>
          <% }) %>          
              <tr>
                <td colspan="9" class="add-user-cell">
                    <div class="add-user-row">
                        <a href="/usergame/biodata/add" class="btn btn-success add-user-button">Add Biodata</a>
                    </div>
                </td>
            </tr>
          </tbody>
      </table>
  </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
